<div class="row">
	<div class="col-md-12 text-muted">
		<div class="col-md-5">
			<%= image_tag("2211-lanier/2211-lanier.jpg", class: "main-image") %>
			<br/>
			<p>Updated, Centrally Located 2/1 Duplex on a Quiet Street</p>
			<p>This clean, updated duplex in central Austin is perfect for your next home.</p>
			<p>Located in an established neighborhood and situated on a quiet street with convenient access to 183, MoPac and I35</p>
		</div>
		<div class="col-md-5">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.6369930179726!2d-97.72970868487738!3d30.361264981768052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cbbba290ae01%3A0xce22c71e2a818b68!2s2211+Lanier+Dr%2C+Austin%2C+TX+78757!5e0!3m2!1sen!2sus!4v1452266636076" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	<div>
</div>

<div class="row">
	<div class="col-md-12">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-muted">
		<div class="col-md-5 text-muted">
			<h5>The Space</h5>
			<hr / >
			<p>Bedrooms: 2</p>
			<p>Bathrooms: 1</p>
			<p>Covered Carport</p>
			<p>Spacious, Private, Fenced Backyard</p>
			<p>Common Wall: Utility Room (living spaces do not share a wall)</p>
		</div>
		<div class="col-md-5 text-muted">
			<h5>Amenities and Features</h5>
			<hr />
			<div class="col-md-6">
				<p>Central Air and Heat</p>
				<p>Dishwasher</p>
				<p>Disposal</p>
				<p>Indoor Washer and Dryer Hookups</p>
				<p>Ceiling Fans in Bedrooms</p>
			</div>
			<div class="col-md-6">
				<p>Large Closet in Master Bedroom</p>
				<p>Updated Lights and Hardware</p>
				<p>Fresh Paint in All Rooms</p>
				<p>Stained Concrete Floors</p>
			</div>
		</div>
		<div class="col-md-2 text-muted">
			<h5>About This Property</h5>
			<hr />
			<p>Available: No</p>
			<p>Small pets OK with deposit</p>
			<p><button class='btn btn-primary'>Submit Application</button></p>
		</div>
	</div>
</div>

<br />

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('2211-lanier/unit-a/kitchen1.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Kitchen</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag('2211-lanier/unit-a/kitchen2.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Kitchen</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag('2211-lanier/unit-a/living.jpg') %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Living Room</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->